#search-container {
  display: flex;
  align-items: center;
}

.form-control {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: #0056b3;
  border-width: 4px !important;
}

button:hover {
  background-color: #0056b3;
}
